

<div class="container text-center">
  <div class="row">
    <div class="col-sm-6 col-md-5 text-right
    scrollimation fade-up d1">
    <br><br>
    <h1 class="big-text">Contact Us !</h1><img src="heart.jpg" alt="" width="200" height="150" style="margin: 35px">
    <p class="lead">Woof Woof Us,<br>Non-profit organization<br><br> +972-4-9931649,  Haifa,  Israel
  
  </p>
  </div>

            <!--=== Contact Form ===-->

                      <form action="https://formsubmit.co/sharonit203@gmail.com" method="POST" onsubmit="sendEmail(); reset(); return false"  id="contact-form" class="col-sm-6 col-md-offset-1 scrollimation fade-left d3" action="contact.php" method="post" novalidate>
          
                          <div class="form-group">
                            <label class="control-label" for="contact-name">Name</label>
                            <div class="controls">
                              <input id="contact-name" name="contactName" placeholder="Your name" class="form-control requiredField" data-new-placeholder="Your name" type="text" data-error-empty="Please enter your name">
                              <i class="fa fa-user"></i>
                            </div>
                          </div>
                          <!-- End name input -->
                          
                          <div class="form-group">
                            <label class="control-label" for="contact-mail">Email</label>
                            <div class=" controls">
                              <input id="contact-mail" name="email" placeholder="Your email" class="form-control requiredField" data-new-placeholder="Your email" type="email" data-error-empty="Please enter your email" data-error-invalid="Invalid email address">
                              <i class="fa fa-envelope"></i>
                            </div>
                          </div><!-- End email input -->
                          
                          <div class="form-group">
                            <label class="control-label" for="contact-message">Message</label>
                              <div class="controls">
                                  <textarea id="contact-message" name="comments"  placeholder="Your message" class="form-control requiredField" data-new-placeholder="Your message" rows="6" data-error-empty="Please enter your message"></textarea>
                                  <i class="fa fa-comment"></i>
                              </div>
                          </div><!-- End textarea -->
                          
                          <p><button name="join us" type="join us" class="btn btn-color2 btn-block" data-error-message="Error!" data-sending-message="Sending..." data-ok-message="Message Sent"><i class="fa fa-paper-plane"></i>Join Us</button></p>
                          <input type="hidden" name="submitted" id="submitted" value="true" />
                          
                      </form><!-- End contact-form -->
                      
                  </div>
                  
                
              </div>
          
          </section>
  

  </div>

</div>

</section>























<br><br><br>

<footer id="main-footer" class="add-padding
border-top-color2">

<div class="container">

    <ul class="social-links text-center">
        <li><a href="https://twitter.com"
            target="_blank"><i class="fa fa-twitter fa-fw">

            </i></a><li>
                   
                        <li><a href="https://facebook.com"
                            target="_blank"><i class="fa fa-facebook fa-fw">
                            </i></a><li>

                                <li><a href="https://instagram.com"
                                    target="_blank"><i class="fa fa-instagram fa-fw">
                
                            </i></a><li>
    </ul>

   

        
  
    <p class="text-center"> &copy; 2022 - WOOF WOOF US - Non Profit Organization</p>



</div>
</footer>