<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WOOF WOOF US</title>
    <link rel="icon" href="logo7.jpg" >
    <link rel="stylesheet" href="/styles.css">
    <script src="https://kit.fontawesome.com/841d6a8792.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />   
    
    
    <div class="call">
        <a href="tel: +972 4 9931649" class="talk">
            <i class="fa-solid fa-phone-volume"><br><br>Call Us<br><br>+974 4 <br><br>9931649</i> 

         </a>
<br>
  
         <a href="donate" class="donate">
            <i class="fa-solid fa-dollar-sign"><br><br>Donate<br><br> on click</i>
        </a>

             </div>
           
                           
   

</head>






