
   <nav>
      <div class="site-title">
        <a class="navbar-brand" href="/">
         </a>
                
        <a href="/"><img src="logo7.jpg" alt="" width="300" height="200" style="margin: 35px" >  
        <br>
        <br>             
       
      </div>
   <ul>

    
    
    <div class="verysoul">
   
  
     <a href="/heart"><i class="fa-solid fa-heart" style="color:red"></i></i></a></li>
     <a href="/heart"><i class="fa-solid fa-heart"style="color:red"></i></i></a></li>
     <a href="/heart"><i class="fa-solid fa-heart" style="color:red"></i></i></a></li>

     <h2>EVERY SOUL NEEDS A FOREVER HOME!</h2>

    </div>
            
       
 <ul>
  

    <li><a href="/about"><i class="fa fa-fw fa-home"></i>About</a></li>
    <li><a href="/dogs"><i class="fa-solid fa-dog"></i>Dogs </a></li>
    <li><a href="/cats"><i class="fa-solid fa-cat"></i>Cats</a></li>
    <li><a href="/blogs"><i class="fa-solid fa-comments"></i>Comments</a></li>
    <li><a href="/blogs/create"><i class="fa-solid fa-plus"></i><br></i>Add comment</a></li>
 

    </nav>

    

 
