<!DOCTYPE html>
<html lang="en">
<%- include('./parcials/head.ejs') %>

<body>
   <%- include('./parcials/nav.ejs') %>




   <div class="not-found content">
      OOOppps ! page not found :(
   </div>
   <%- include('./parcials/footer.ejs') %>

</body>
</html>