
    <%- include('./parcials/head.ejs') %>

    <body>
        <%- include('./parcials/nav.ejs') %>
    
<div class="quadruple">
     <h1>Belis</h1>

      <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/pgallery/202252215115188.png" width="500" height="300"alt>
      <div class="innerpage">
      <main aria-labelledby="main content">
        <div class="dogdata">
            <br>
            <br>
            <div><strong>Gender: Female</strong></div>
            <br>
            <div><strong>Born: 2021</strong></div>
            <br>
            <div><strong>Size: Large</strong></div>
            <p>Belis was found on the streets. She has no previous owners. Very calm and sweet personality.Great with kids and other animals</p>
        </div>
        </div>

        <%- include('./parcials/footer.ejs') %>

    </body>
    </html>