<!DOCTYPE html>
<html lang="en">
    <%- include('./parcials/head.ejs') %>

<body>
    <%- include('./parcials/nav.ejs') %>
    
<div class="innerpage">
  <main aria-labelledby="main content">
    <div class="productbody">
      <div class="bodytext">
        <p>
          <span style="font-size: 15pt;color: #ff6600;"><strong><span style="text-decoration: underline;">Adoption Costs</span></strong></span>
        </p>
        <p><span style="font-size: 12pt;">Adopt a puppy - 110$ , Adopt an older cat - 70$ , Adopt a granpa - 30$</span></p>
      <span></span>  
      </div>
     
           
      </div>
        <div class="quadruple">
          <a href="Fuze" alt>
            <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/20227315314938_Big.jpg" width="300" height="200"alt>
            <h2>Fuze</h2>
          </a>
        </div>

        <div class="quadruple">
          <a href="Pocker" alt>
          <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/20225311643150_Big.jpg"width="300" height="200" alt>
          <h2>Pocker</h2>
          </a>
        </div>

        <div class="quadruple">
          <a href="Grey" alt>
          <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/2022661422568_Big.jpg"width="300" height="200" alt>
          <h2>Grey</h2>
          </a>
        </div>

        <div class="quadruple">
          <a href="Richi" alt>
          <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/pgallery/2022717928926_Big.jpg"width="300" height="200" alt>
          <h2>Richi</h2>
          </a>
        </div>

        <div class="quadruple">
          <a href="Carrot" alt>
          <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/pgallery/202271118565613_Big.jpg"width="300" height="200" alt>
          <h2>Carrot</h2>
          </a>
        </div>

        <div class="quadruple">
          <a href="Joy" alt>
          <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/pgallery/202272416542446_Big.jpg"width="300" height="200" alt>
          <h2>Joy</h2>
          </a>
        </div>

        <div class="quadruple">
          <a href="Ron" alt>
          <img src="https://www.letlive.org.il/wp-content/uploads/2022/08/ron21-330x330.jpg"width="300" height="200" alt>
          <h2>Ron</h2>
          </a>
        </div>

        <div class="quadruple">
          <a href="Telor" alt>
          <img src="https://www.letlive.org.il/wp-content/uploads/2022/08/talor-330x330.jpg"width="300" height="200" alt>
          <h2>Telor</h2>
          </a>
        </div>
    
      </div>
    </div>
  </main>
  <br><br>
</div>

       <%- include('./parcials/footer.ejs') %>

</body>
</html>