<!DOCTYPE html>
<html lang="en">
    <%- include('./parcials/head.ejs') %>

<body>
    <%- include('./parcials/nav.ejs') %>
    
<div class="innerpage">
  <main aria-labelledby="main content">
    <div class="productbody">
      <div class="bodytext">
        <p>
          <span style="font-size: 15pt;color: #ff6600;"><strong><span style="text-decoration: underline;">Adoption Costs</span></strong></span>
        </p>
        <p><span style="font-size: 12pt;">Adopt a puppy - 110$ , Adopt an older dog - 70$ , Adopt a granpa - 30$</span></p>
      <span></span>  
      </div>

        <div class="quadruple">
          <a href="Belis" alt>
            <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/pgallery/202252215115188.png" width="300" height="200"alt>
            <h2>Belis</h2>
          </a>
             
        </div>

        <div class="quadruple">
          <a href="Olive" alt>
          <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/2022521197432_Big.jpg"width="300" height="200" alt>
          <h2>Olive</h2>
        
          </a>
        </div>

        <div class="quadruple">
          <a href="Sabastien" alt>
          <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/2022581655981_Big.png"width="300" height="200" alt>
          <h2>Sabastien</h2>
          </a>
        
        </div>

        <div class="quadruple">
          <a href="Ricki" alt>
            <div>
              <span></span>
            </div>
            <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/202252516136100_Big.jpg"width="300" height="200" alt>
            <h2>Ricki</h2>
          </a>
         
        </div>

        <div class="quadruple">
          <a href="Luna" alt>
            <div>
              <span></span>
            </div>
            <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/202251418511147_Big.jpg"width="300" height="200" alt>
            <h2>Luna</h2>
          </a>
          
        </div>

        <div class="quadruple">
          <a href="Diana" alt>
            <div>
              <span></span>
            </div>
            <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/20225998230_Big.jpg"width="300" height="200" alt>
            <h2>Diana</h2>
          </a>
          
        </div>

        <div class="quadruple">
          <a href="Luca" alt>
            <div>
              <span></span>
            </div>
            <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/2022599578_Big.jpg"width="300" height="200" alt>
            <h2>Luca</h2>
          </a>
          
        </div>

        <div class="quadruple">
          <a href="Duke" alt>
            <div>
              <span></span>
            </div>
            <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/20222181922570_Big.jpg"width="300" height="200" alt>
            <h2>Duke</h2>
          </a>
        
        </div>

        <div class="quadruple">
          <a href="Shmariahu" alt>
            <div>
              <span></span>
            </div>
            <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/20225992146_Big.png"width="300" height="200" alt>
            <h2>Shmariahu</h2>
          </a>
       
        </div>

          <div class="quadruple">
          <a href="Anita" alt>
            <div>
              <span></span>
            </div>
            <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/20225298572513_Big.jpg"width="300" height="200" alt>
            <h2>Anita</h2>
          </a>
         
        </div>

        <div class="quadruple">
          <a href="Teddy" alt>
            <div>
              <span></span>
            </div>
            <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/2022848311388_Big.jpg"width="300" height="200" alt>
            <h2>Teddy</h2>
          </a>
                </div>

        <div class="quadruple">
          <a href="Fendi" alt>
            <div>
              <span></span>
            </div>
            <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/202251418473011_Big.jpg"width="300" height="200" alt>
            <h2>Fendi</h2>
          </a>
          </div>

        <div class="quadruple">
          <a href="Milki" alt>
            <div>
              <span></span>
            </div>
            <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/2022599134882_Big.png"width="300" height="200" alt>
            <h2>Milki</h2>
          </a>
        </div>

        <div class="quadruple">
          <a href="Stich" alt>
            <div>
              <span></span>
            </div>
            <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/20225991654100_Big.png"width="300" height="200" alt>
            <h2>Stich</h2>
          </a>
        </div>

        <div class="quadruple">
          <a href="Sheffi" alt>
            <div>
              <span></span>
            </div>
            <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/2022522121055_Big.jpg"width="300" height="200" alt>
            <h2>Sheffi</h2>
          </a>
        </div>

        <div class="quadruple">
          <a href="Mel" alt>
            <div>
              <span></span>
            </div>
            <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/202251816501642_Big.jpg"width="300" height="200" alt>
            <h2>Mel</h2>
          </a>
        </div>

        <div class="quadruple">
          <a href="Eve" alt>
            <div>
              <span></span>
            </div>
            <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/202251816492045_Big.jpg"width="300" height="200" alt>
            <h2>Eve</h2>
          </a>
        </div>

        <div class="quadruple">
          <a href="Lucy" alt>
            <div>
              <span></span>
            </div>
            <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/20225151411895_Big.jpg"width="300" height="200" alt>
            <h2>Lucy</h2>
          </a>
        </div>

        <div class="quadruple">
          <a href="Kutti" alt>
            <div>
              <span></span>
            </div>
            <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/202259948258_Big.jpg"width="300" height="200" alt>
            <h2>Kutti</h2>
          </a>
        </div>

        <div class="quadruple">
          <a href="Raj" alt>
            <div>
              <span></span>
            </div>
            <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/20225181651669_Big.jpg"width="300" height="200" alt>
            <h2>Raj</h2>
          </a>
        </div>

        <div class="quadruple">
          <a href="Maya" alt>
            <div>
              <span></span>
            </div>
            <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/2021112316325546_Big.jpg"width="300" height="200" alt>
            <h2>Maya</h2>
          </a>
        </div>

        <div class="quadruple">
          <a href="Kim" alt>
            <div>
              <span></span>
            </div>
            <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/2021122021154287_Big.jpg"width="300" height="200" alt>
            <h2>Kim</h2>
          </a>
        </div>

        <div class="quadruple">
          <a href="Luis" alt>
            <div>
              <span></span>
            </div>
            <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/202252215521986_Big.jpg"width="300" height="200" alt>
            <h2>Luis</h2>
          </a>
        </div>

        <div class="quadruple">
          <a href="Nala" alt>
            <div>
              <span></span>
            </div>
            <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/2022599552299_Big.jpg"width="300" height="200" alt>
            <h2>Nala</h2>
          </a>
        </div>


        <div class="quadruple">
          <a href="Leo" alt>
            <div>
              <span></span>
            </div>
            <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/20222319323334_Big.jpg"width="300" height="200" alt>
            <h2>Leo</h2>
          </a>
        </div>

        <div class="quadruple">
          <a href="Dindin" alt>
            <div>
              <span></span>
            </div>
            <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/2022599593492_Big.jpg"width="300" height="200" alt>
            <h2>Dindin</h2>
          </a>
        </div>

        <div class="quadruple">
          <a href="Kai" alt>
            <div>
              <span></span>
            </div>
            <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/20225221211444_Big.jpg"width="300" height="200" alt>
            <h2>Kai</h2>
          </a>
        </div>

        <div class="quadruple">
          <a href="Lola" alt>
            <div>
              <span></span>
            </div>
            <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/20222319545880_Big.jpg"width="300" height="200" alt>
            <h2>Lola</h2>
          </a>
        </div>

        <div class="quadruple">
          <a href="Lovely" alt>
            <div>
              <span></span>
            </div>
            <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/20225141853391_Big.jpg"width="300" height="200" alt>
            <h2>Lovely</h2>
          </a>
        </div>

        <div class="quadruple">
          <a href="puppies" alt>
            <div>
              <span></span>
            </div>
            <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/pgallery/202272416582420_Big.jpg"width="300" height="200" alt>
            <h2>Puppies</h2>
          </a>
        </div>

        <div class="quadruple">
          <a href="hilton" alt>
            <div>
              <span></span>
            </div>
            <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/pgallery/2022841671731_Big.jpg"width="300" height="200" alt>
            <h2>Hilton</h2>
          </a>
        </div>

        
        <div class="quadruple">
          <a href="Poncho" alt>
            <div>
              <span></span>
            </div>
            <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/pgallery/20228710341838_Big.jpg"width="300" height="200" alt>
            <h2>Poncho</h2>
          </a>
         
      </div>

      <br><br>

        </div>
    </div>
  </main>
  
</div>

       <%- include('./parcials/footer.ejs') %>

</body>
</html>