
    <%- include('./parcials/head.ejs') %>

    <body>
        <%- include('./parcials/nav.ejs') %>
    
        <div class="about content">
            <br><br><br>
            <h2>Your Donations !<br><br><i class="fa-solid fa-sack-dollar"></i></h2>
            <p>
                Woof Woof Us is a non-profit organization and relies only on your donations.
               <br><br>
                We receive no help from the authorities.
                <br><br>
                Monthly food, veterinary, and shelter maintenance bills come to over €25,000, so donations are vital.
                <br><br>
                Every donation, in any amount, is greatly appreciated by all the animals and of course us!
                <br><br>            
          
            </p>
            <br><br>


        <br>
        
            <br><br>
                <a href="https://www.mastercard.co.il/he-il.html" target="_blank"><i class="fa-brands fa-cc-mastercard"aria-hidden="true"style="font-size: 14em"></i>
                </a>
           
    
                <a href="https://www.paypal.com/il/home" target="_blank"><i class="fa-brands fa-cc-paypal"aria-hidden="true"style="font-size: 14em"></i>
                </a>
    
                <a href="https://www.cal-online.co.il/" target="_blank"><i class="fa-brands fa-cc-visa"aria-hidden="true"style="font-size: 14em"></i>
                </a>


        <%- include('./parcials/footer.ejs') %>

    </body>
    </html>