
    <%- include('./parcials/head.ejs') %>

    <body>
        <%- include('./parcials/nav.ejs') %>
    
<div class="quadruple">
     <h1>Fendi</h1>

      <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/202251418473011_Big.jpg" width="500" height="300"alt>
      <div class="innerpage">
      <main aria-labelledby="main content">
        <div class="dogdata">
            <br>
            <br>
            <div><strong>Gender: Male</strong></div>
            <br>
            <div><strong>Born: 2018</strong></div>
            <br>
            <div><strong>Size: Big</strong></div>
            <p>Fendi is a big boy with a big heart </p>
        </div>
        </div>

        <%- include('./parcials/footer.ejs') %>

    </body>
    </html>