
    <%- include('./parcials/head.ejs') %>

    <body>
        <%- include('./parcials/nav.ejs') %>
    
<div class="quadruple">
     <h1>Grey</h1>

      <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/2022661422568_Big.jpg" width="300" height="200"alt>
      <div class="innerpage">
      <main aria-labelledby="main content">
        <div class="dogdata">
            <br>
            <br>
            <div><strong>Gender: Male</strong></div>
            <br>
            <div><strong>Born: 2021</strong></div>
            <br>
           
            <p>Grey is a sweet gentle boy waiting for a good home</p>
        </div>
        </div>

        <%- include('./parcials/footer.ejs') %>

    </body>
    </html>