
    <%- include('./parcials/head.ejs') %>

    <body>
        <%- include('./parcials/nav.ejs') %>
    
<div class="quadruple">
     <h1>Joy</h1>

      <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/pgallery/202272416542446_Big.jpg" width="300" height="200"alt>
      <div class="innerpage">
      <main aria-labelledby="main content">
        <div class="dogdata">
            <br>
            <br>
            <div><strong>Gender: Female</strong></div>
            <br>
            <div><strong>Born: 2022</strong></div>
            <br>
           
            <p>Joy loves all people and animals</p>
        </div>
        </div>

        <%- include('./parcials/footer.ejs') %>

    </body>
    </html>