
    <%- include('./parcials/head.ejs') %>

    <body>
        <%- include('./parcials/nav.ejs') %>
    
<div class="quadruple">
     <h1>Kim</h1>

      <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/2021122021154287_Big.jpg" width="500" height="300"alt>
      <div class="innerpage">
      <main aria-labelledby="main content">
        <div class="dogdata">
            <br>
            <br>
            <div><strong>Gender: Female</strong></div>
            <br>
            <div><strong>Born: 2020</strong></div>
            <br>
            <div><strong>Size: medium</strong></div>
            <p>Kim is so sweet and strong little dog</p>
        </div>
        </div>

        <%- include('./parcials/footer.ejs') %>

    </body>
    </html>