
    <%- include('./parcials/head.ejs') %>

    <body>
        <%- include('./parcials/nav.ejs') %>
    
<div class="quadruple">
     <h1>Luca</h1>

      <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/2022599578_Big.jpg" width="500" height="300"alt>
      <div class="innerpage">
      <main aria-labelledby="main content">
        <div class="dogdata">
            <br>
            <br>
            <div><strong>Gender: Male</strong></div>
            <br>
            <div><strong>Born: 2020</strong></div>
            <br>
            <div><strong>Size: Large</strong></div>
            <p>Luca as his name is crazy about people. Needs a home full of kids and happiness</p>
        </div>
        </div>

        <%- include('./parcials/footer.ejs') %>

    </body>
    </html>