
    <%- include('./parcials/head.ejs') %>

    <body>
        <%- include('./parcials/nav.ejs') %>
    
<div class="quadruple">
     <h1>Mel</h1>

      <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/202251816501642_Big.jpg" width="500" height="300"alt>
      <div class="innerpage">
      <main aria-labelledby="main content">
        <div class="dogdata">
            <br>
            <br>
            <div><strong>Gender: Male</strong></div>
            <br>
            <div><strong>Born: 2021</strong></div>
            <br>
            <div><strong>Size: Medium</strong></div>
            <p>Mel is full of love, calm boy</p>
        </div>
        </div>

        <%- include('./parcials/footer.ejs') %>

    </body>
    </html>