
    <%- include('./parcials/head.ejs') %>

    <body>
        <%- include('./parcials/nav.ejs') %>
    
<div class="quadruple">
     <h1>Olive</h1>

      <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/2022521197432_Big.jpg" width="500" height="300"alt>
      <div class="innerpage">
      <main aria-labelledby="main content">
        <div class="dogdata">
            <br>
            <br>
            <div><strong>Gender: Male</strong></div>
            <br>
            <div><strong>Born: 2018</strong></div>
            <br>
            <div><strong>Size: Medium</strong></div>
            <p>Olive's owners couldn't take care of him anymore. He's such a Sweet boy</p>
        </div>
        </div>

        <%- include('./parcials/footer.ejs') %>

    </body>
    </html>