
    <%- include('./parcials/head.ejs') %>

    <body>
        <%- include('./parcials/nav.ejs') %>
    
<div class="quadruple">
     <h1>Puppies</h1>

      <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/pgallery/202272416582420_Big.jpg" width="500" height="300"alt>
      <div class="innerpage">
      <main aria-labelledby="main content">
        <div class="dogdata">
            <br>
            <br>
            <div><strong>Gender: Female and male</strong></div>
            <br>
            <div><strong>Born: 2022</strong></div>
            <br>
            <div><strong>Size: puppies</strong></div>
            <p>Mixed puppies, 1.5 months old, waiting for lovely homes</p>
        </div>
        </div>

        <%- include('./parcials/footer.ejs') %>

    </body>
    </html>