
    <%- include('./parcials/head.ejs') %>

    <body>
        <%- include('./parcials/nav.ejs') %>
    
<div class="quadruple">
     <h1>Richi</h1>

      <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/pgallery/2022717928926_Big.jpg" width="300" height="200"alt>
      <div class="innerpage">
      <main aria-labelledby="main content">
        <div class="dogdata">
            <br>
            <br>
            <div><strong>Gender: Male</strong></div>
            <br>
            <div><strong>Born: 2022</strong></div>
            <br>
           
            <p>Richi is a little lovely curious baby. 6 months old</p>
        </div>
        </div>

        <%- include('./parcials/footer.ejs') %>

    </body>
    </html>