
    <%- include('./parcials/head.ejs') %>

    <body>
        <%- include('./parcials/nav.ejs') %>
    
<div class="quadruple">
     <h1>Sheffi</h1>

      <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/2022522121055_Big.jpg" width="500" height="300"alt>
      <div class="innerpage">
      <main aria-labelledby="main content">
        <div class="dogdata">
            <br>
            <br>
            <div><strong>Gender: Female</strong></div>
            <br>
            <div><strong>Born: 2015</strong></div>
            <br>
            <div><strong>Size: Medium</strong></div>
            <p>Sheffi is a sweetheart. Loves everyone around. She's an older and calm girl</p>
        </div>
        </div>

        <%- include('./parcials/footer.ejs') %>

    </body>
    </html>