
    <%- include('./parcials/head.ejs') %>

    <body>
        <%- include('./parcials/nav.ejs') %>
    
<div class="quadruple">
     <h1>Shmariahu</h1>

      <img src="http://www.petprotect.org.il/PetProtect2018/UploadFiles/PGallery/20225992146_Big.png" width="500" height="300"alt>
      <div class="innerpage">
      <main aria-labelledby="main content">
        <div class="dogdata">
            <br>
            <br>
            <div><strong>Gender: Male</strong></div>
            <br>
            <div><strong>Born: 2017</strong></div>
            <br>
            <div><strong>Size: Large</strong></div>
            <p>Shmariahu is a gentle boy who wants a lovely warm home with kids</p>
        </div>
        </div>

        <%- include('./parcials/footer.ejs') %>

    </body>
    </html>