@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Montserrat&display=swap');


body{
background-image: url('./backgrounds/bluepaws.jpg');
    text-align: center;
    max-width: 1400px;
    margin: 20px auto;
    padding: 0 20px;
    font-family: 'Montserrat', sans-serif;
}

.call{
position: relative;
width: 100px;
height: 200px;

float:right;
font: bold;
border:3px solid black;
border-radius: 20px;
padding: 30px;
background:rgb(125, 231, 242);
border-style:dotted;
flex-wrap:wrap;

}

.donate :hover{
color: red;}

.call :hover{
color: red;
}

.donate{
    position: absolute;
    left: 40;
    width: 100px;
    height: 200px;
    top:-100px;


    margin: 100px;
    font: bold;
    padding-right: 30px;
    border:3px solid black;
    border-radius: 20px;
    padding: 30px;
    background:rgb(125, 231, 242);
    border-style:dotted;
   
}




 p{
    font-size: x-large;
      
  }


.quadruple{

    padding: 20px;
    border-style:groove;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 25px;
    list-style: none;
    float: left;


}
    
head icon{
    size: 20px;
    width: 20px;

   
}



/* Slideshow container */
.slideshow-container{
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display:none;
  }


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

/* Caption text */
.text {
  color: #3123f0;
  font-size: 18px;
  font: bolder;
  padding: 8px 12px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

h1 , h3, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
                
}

/* nav and footer style */
nav{
  
    display:flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-bottom: 0px;
    border-bottom: 2x solid rgb(221, 221, 221);
    text-transform: uppercase;
    background-color: #fff;
    font-size: large;

}

nav ul{
    display: flex;
    border-color: red;
    border-color: bisque;
    justify-content: space-between;
    align-items: flex-end;
    float: left;
    padding: 15px;
}

/*-----------------------
----- nav character ------
-------------------------*/
nav li{
    list-style-type: none;
    margin-left: 40px;
    text-decoration:underline;
    float: left;
    
}

nav li :hover{
    background-color: rgb(184, 238, 247);  
    color:black;
    border-color: bisque;
}


.active {
    background-color: red;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }}


nav p, nav a{
    color: rgb(34, 30, 47);
    font-weight: 500;

}

/*starting footer and contact*/
body{
	font-family: Raleway, Arial, sans-serif;
    font: size 18px;
    font-weight:500;
    color:black;
	overflow-x:hidden;
}

a{
	color: black;
	text-decoration:none
}

a:hover,a:focus{
	color:#f9398c;
	text-decoration:underline
}

a:focus,
.btn:focus {
	outline: none;
}

.img-responsive {
    border: 1px solid #ddd;
}

/*-----------------------
----- Typo Styles ------
-------------------------*/
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
	font-weight:300;
}

.big-text{
    font-size:55px;
    font-weight:300;
    line-height:60px;
    letter-spacing:0.01em;
    word-spacing: 0.20em;
    text-transform:uppercase;
}

.section-title{
    margin-top:-20px;
    margin-bottom: 80px;
    text-align:center;
}

/*-----------------------
----- Layout Styles -----
-------------------------*/

.add-padding {
    padding-top:35px;
    padding-bottom:50px;
}

/*-----------------------
----- Color Styles ------
-------------------------*/

.bg-color1{
    color:#fff;
    background:#509B9E;
    
}

.bg-color2{
    color:#fff;
    background:#f9398c;
}

.bg-color3{
    color:#fff;
    background:#334959;
}

.border-bottom-color2{
    border-bottom:7px solid #f9398c;
}

.border-top-color2{
    border-top:3px solid #f9398c;
}

.color1 .service-icon,
.color1.service-item ul li:nth-child(2):before{
    background:#509B9E;
}

.color1 .service-icon:after{
    border:3px solid #509B9E;
}

.color2 .service-icon,
.color2.service-item ul li:nth-child(2):before{
    background:#f9398c;
}

.color2 .service-icon:after{
    border:3px solid #f9398c;
}

.color3 .service-icon,
.color3.service-item ul li:nth-child(2):before{
    background:#565933;
}

.color3 .service-icon:after{
    border:3px solid #334959;
}

/*------------------
----- Buttons ------
--------------------*/

.btn-color1,
.btn-color2{
    padding: 10px 30px;
    color:#fff;
    font-size: 21px;
    font-weight: 300;
    background:#f9398c;
    outline: none !important;
    border-radius: 0;
    transition: opacity .2s ease-out;
}

.btn-color1{
    background:#509B9E;
    
}

.btn-color1:hover,
.btn-color2:hover{
    color:#fff;
    opacity: 0.9;
}

.btn-color1:focus,
.btn-color1:active,
.btn-color2:focus,
.btn-color2:active{
    color:#fff;
}

.btn-color1 .fa,
.btn-color2 .fa{
    margin-right: 30px;
}


 
#main-footer {
    background: #fff;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 1322px;
    width: 300%;
    float: left;
    padding: 40px;
}

#main-footer p a {
    padding-bottom: 40px;
    font-size: 25px;
}

#main-footer p {

    text-align: center;
    font: bolder;
    
}
.social-links {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
}
.social-links li {
    display: inline-block;
    margin: 0 5px;
    border-radius: 3px;
    box-shadow: 0 4px 0 transparent;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.social-links li a {
    display: block;
    color: #fff;
    font-size: 21px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #509b9e;
    border-radius: 50%;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    

}
.social-links li a:hover {
    color: #fff;
    background: #f9398c;
}


.content{
    margin-left: 40px;
}




/*----------------------
----- Contact Styles ----
------------------------*/

#contact{
    background-image:url('../images/bg-contact.png');
    background-repeat:no-repeat;
    background-position:0 100%;
    background-color: #fff;
}

#contact-form .form-group label{
    display:none;
    font-size:18px;
    line-height:24px;
    font-weight:100;
    text-transform:uppercase;
}

#contact-form.no-placeholder .form-group label{
    display:block;

}

#contact-form .controls {
    background: #fff;
    padding:0;
    margin-bottom:30px;
    border:1px solid #ddd;
    border-radius:2px;
}

#contact-form .form-control {
    background:transparent !important;
    border:none;
    border-bottom:3px solid transparent;
    border-radius:0;
    outline:none;
    box-shadow:none;
    height:56px;
    font-size:21px;
    line-height:32px;
    font-weight:100;
    padding-left:64px;
    -webkit-transition:border-color .3s ease-out;
    transition:border-color .3s ease-out;
    border-radius:2px;
}

#contact-form .form-group{
    position:relative;
}

#contact-form .form-group [class*=fa] {
    display:block;
    width:64px;
    position:absolute;
    top:0;
    left:5px;
    color:#e5e5e5;
    font-size:24px;
    line-height:53px;
    text-align:center;
    font-weight:300;
    opacity:0.5;
    transition:opacity .2s ease-out;
}

#contact-form.no-placeholder .form-group [class*=fa]{
    top:30px;
}

#contact-form .form-control:focus + [class*=fa]{
    opacity:1;
}

#contact-form textarea.form-control {
    height:auto;
    max-width:100%;
    min-width:100%;
    font-size:21px;
    line-height:32px;
    padding-top:10px;
}

#contact-form .form-control:focus {
    background:#fff;
    border-bottom:3px solid #f9398c;
    outline:none;
    box-shadow:none;
    -webkit-transition:border-color .3s ease-in;
    transition:border-color .3s ease-in;
}

#contact-form .error-message {
    padding:5px 0;
    position:absolute;
    top:-30px;
    right:0;
    font-size:14px;
    font-weight:300;
    color:#ff0000;
    z-index:10;
}

#contact-form .error-message:before {
    content:"\00d7";
    font-size: 21px;
    line-height: 21px;
    margin-right: 5px;
}



/* blogs and create styles */ 

.blogs a{
display: inline-block;
margin: 40px 0;
padding-left: 30px;
border:3px solid rgb(246, 57, 208);
border-radius: 20px;
font-size:xx-large;
padding: 20px;
background:rgb(246, 241, 241);

}

.blogs a:hover h3{
    color: #f9398c;
}

.details{
    position: relative;

}
.delete{
    position:absolute;
    top: 200px;
    right: 0;
    border-radius: 20%;
    padding: 10px;
}

.delete:hover{
    cursor:pointer;
    box-shadow: 1px 2px 3px rgba(red, green, blue, 0.2);
}

.update{
    position:absolute;
    top: 100px;
    right: 0;
    border-radius: 20%;
    padding: 10px;
}

.update:hover{
    cursor: pointer;
    box-shadow: 1px 2px 3px rgba(red, green, blue, 0.2);
}
.create-blog{
    max-width: 500px;
    margin: 0 auto;
    font-size: larger;
    font: bolder;
    background-position: 70px;
}
.create-blog input,
.create-blog textarea{
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
}

.create-blog label{
    display: block;
    margin-top: 24px;
}
textarea{
    height: 120px;
}
.create-blog button{
    margin-top: 20px;
    background: green;
    color: white;
    padding: 6px;
    border: 0;
    font-size: 1.2em;
    cursor: pointer;
}

.details{
    font-size: xx-large;
    border: #f9398c;
    background-color: #fff;
    border-radius: 30px;
}



/*donate social links*/

.social-links .donate{
    display: block;
    color: #fff;
    font-size: 50px;
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #509b9e;
    border-radius: 50%;

}

